// rules for ACADIS-only selectors go here

.results-row-left {
  float: left;
  width: 65%;
}

.getdata-gi-axe {
  background-color: #f5f5f5;
  margin: 10px;
  position: absolute;
  right: 0;
  width: 350px;
  z-index: 1010;
}
