// rules for NSIDC-only selectors go here


.results-row {
  line-height: 1.1em;
  padding-bottom: 7px;
}

.results-row:last-child {
  padding-bottom: 0;
}

.results-top-right {
  float: right;
  width: 100px;
}

.results-right {
  float: left;
  padding-bottom: 18px;
  width: 670px;
}

.value {
  float: left;
  width: 450px;
}

.summary .value {
  width: 510px;
}

.result-buttons {
  float: right;
}

.supporting-programs {
  margin-top: 7px;
  min-width: 104px;
  position: absolute;
}

.supporting-program-logo {
  @include inline-block(none);

  background-position: left top;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  float: right;
  height: 32px;
  margin-right: 4px;
  width: 32px;
}

.supporting-program-logo:first-child {
  margin-right: 0;
}

.NASA_DAAC {
  background-image: url(img('program_logos/logo-nasa.png'));
}

.NOAA {
  background-image: url(img('program_logos/logo-noaa.png'));
}

.AGDC {
  background-image: url(img('program_logos/logo-agdc.png'));
}

.FGDC {
  background-image: url(img('program_logos/logo-fgdc.png'));
}

.NSIDC_ARC {
  background-image: url(img('program_logos/logo-arc.png'));
}

.ELOKA {
  background-image: url(img('program_logos/logo-eloka.png'));
}

.ACADIS {
  background-image: url(img('program_logos/logo-acadis.png'));
}

